<nav>
    <div class="site-title">
     
        <a href="/"><h1>BLOG POINT</h1></a>
        <p>A net ninja site</p>
    </div>
    <ul>
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/about">ABOUT PAGE</a></li>
        <li><a href="/blogs/create">NEW BLOG</a></li>
        <li><a href="/user/login">SIGNIN</a></li>
        <li><a href="/user/register">SIGNUP</a></li>

    </ul>
</nav>