<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>ABOUT US</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sapiente! Perspiciatis dignissimos vero beatae laboriosam! Tempore ratione quas tenetur voluptatum minima. Repellat deserunt soluta minus alias nulla sed non amet!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sapiente! Perspiciatis dignissimos vero beatae laboriosam! Tempore ratione quas tenetur voluptatum minima. Repellat deserunt soluta minus alias nulla sed non amet!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, sapiente! Perspiciatis dignissimos vero beatae laboriosam! Tempore ratione quas tenetur voluptatum minima. Repellat deserunt soluta minus alias nulla sed non amet!</p>
    </div>

    
    <%- include('./partials/footer.ejs') %>
</body>
</html>